In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import functions as fct
from IPython.display import display, Markdown
import math

# Base de Donnée SQL des données de la FAO

Shéma de la base de donnée :

- table **population**: ` pays | code_pays | annee | population`
- table **dispo_alim** `pays | code_pays | annee | produit | code_produit | nature | dispo_alim_tonnes | dispo_alim_kcal_p_j | dispo_prot | dispo_mat_gr`
- table **equilibre_prod** : `pays | code_pays | annee | produit | code_produit | dispo_int | alim_ani | semences | pertes | transfo | nourriture | autre_utilisations`
- table **sous_nutrition** : `pays | code_pays | annee | nb_personnes`
- *extra* : table **stock** : `pays | code_pays | annee | produit | code_produit | nature | dispo_int | production | importation | exportation | variation_stock`

&rArr; **l'étude porte sur les années 2012 et 2013**

## Sommaire <span id="sommaire"> </span>

[**Préparation de la base de donnée SQLite**](#preparation-bdd)

**préparation des données** :
- [Création de `produits` et de `population`](#produits)
- [Mise de `population` dans la base de donnée](#population)
- [*dataframe* `dispo_alim`](#dispo_alim)
- [*dataframe* `equilibre_prod`](#equilibre_prod)
- [*dataframe* `sous_nutrition`](#sous_nutrition)

liens rapide vers les questions :
- [question-15](#question-15)
- [question-16](#question-16)
- [question-17](#question-17)
- [question-18](#question-18)
- [question-19](#question-19)
- [question-20](#question-20)

## Préparation de la base de donnée SQLite <a id="preparation-bdd" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>

On utilisera comme SGBDR `SQLite`. <br>
Comme ORM (BDD-API) `SQLAlchemy`. <br>
Et `Pandas` pour enregister et requêter.

In [2]:
bdd_path = '../3_base_de_donnee/'

# on créé l'engine avec SQLAlchemy
bdd_engine = create_engine(f'sqlite:///{bdd_path}donnees_alimentaires.sqlite3')

## Préparation des données

On a téléchargé les fichiers csv relatifs aux animaux et végétaux qui nous intéresse. <br>
Nous allons créer un unique dataframe `produit` de données bruts.

On construira les `dataframe` représentant nos table directement depuis ce dataframe.

### Création de `produits` et de `population` <a id="produits" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>

In [3]:
vegetaux = pd.read_csv('datas_from_fao/vegetaux.csv')
animaux = pd.read_csv('datas_from_fao/animaux.csv')

ajout de la colonne `nature`

In [4]:
vegetaux['nature'] = 'végétal'
animaux['nature'] = 'animal'

fusion des **végétaux** et des **animaux** pour créer **produits**

In [5]:
produits = pd.concat([vegetaux, animaux])

renommage des colonnes

In [6]:
produits.rename(columns={
'Code Pays' : 'code_pays',
'Pays' : 'pays',
'Code Élément' : 'code_element',
'Élément' : 'element',
'Code Produit' : 'code_produit',
'Produit' : 'produit',
'Code Année': 'code_annee',
'Année' : 'annee',
'Unité' : 'unite',
'Valeur' : 'valeur',
}, inplace=True)

suppression des colonnes inutiles

In [7]:
produits = produits[[
    'code_pays',
    'pays', 
    'code_element', 
    'element', 
    'code_produit', 
    'produit', 
    'annee', 
    'unite', 
    'valeur',
    'nature'
]]

suppression de la **Chine** (on garde ses provinces)

In [8]:
produits = produits[produits.code_pays!=351]

Maintenant, la colonne `element` contient les *produits* et l'élément `Population totale`.
<br> On va séparer les lignes avec un élément `Population totale` des produits.

In [9]:
population = produits[produits['produit'] == 'Population']
produits = produits[produits['produit'] != 'Population']

On transforme la population pour qu'elle soit sous cette forme `pays | code_pays | annee | population`

In [10]:
population = population.pivot_table(
    index=['code_pays', 'pays', 'annee'],
    columns=['produit'],
    values=['valeur']
).reset_index()

population.columns = [
    'code_pays', 'pays', 'annee', 'population'
]

La popultion est exprimé en *miller de personnes*, on veut l'éxpirmer en *personnes*

In [11]:
population.population *= 1000

<hr>

On transforme maintenant `produits` avec un **pivot table** pour obtenir la table :

`code_pays| pays| code_produit| produit| nature| annee| alim_ani| autres_utilisations| dispo_alim_kcal_p_j| dispo_alim_kg_p_an| dispo_mat_gr| dispo_prot| dispo_int| nourriture| pertes| semences| traitement`

In [12]:
produits = produits.pivot_table(
    index=['code_pays', 'pays', 'code_produit', 'produit', 'nature', 'annee'],
    columns=['element'],
    values=['valeur'], 
    aggfunc=sum
).reset_index()

In [13]:
# renommage des colonnes
produits.columns = [
    'code_pays',
    'pays',
    'code_produit',
    'produit',
    'nature',
    'annee',
    'alim_ani',
    'autres_utilisations',
    'dispo_alim_kcal_p_j',
    'dispo_alim_kg_p_an',
    'dispo_mat_gr',
    'dispo_prot',
    'dispo_int',
    'exportation',
    'importation',
    'nourriture',
    'pertes',
    'production',
    'semences',
    'traitement', # transformation ?
    'variation_stock'
]

on merge avec population pour obtenir : `code_pays| pays| code_produit| produit| ... | population`

*Ici on fait une jointure interne sur code_pays, car ce sont les mêmes dans les deux tables*

In [14]:
produits = pd.merge(
    produits,
    population,
)

on calcule `dispo_alim_tonnes` a partir de `dispo_alimentaire_kg_per_an` et `population`

In [15]:
produits['dispo_alim_tonnes'] = (produits['dispo_alim_kg_p_an'] * produits['population']) / 1000

### Mise de `population` dans la base de donnée <a id="population" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>

In [16]:
population.to_sql(
    name='population', # nom de la table
    con=bdd_engine, # connexion utilisé (ici, celle donnée par SQLAlchemy)
    index=False,  # on ne veut pas écrire les index dans la table
    if_exists='replace' # si la table existe déjà, on l'écrase
)

On l'enregistre aussi en csv

In [17]:
population.to_csv(f'{bdd_path}tables_csv/population.csv')

<div class="panel panel-info">
  <div class="panel-heading" >
    **Question 15**
    <a id="question-15" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
  </div>
  <div class="panel-body">
   Proposez une clé primaire pertinente pour cette table.
  </div>
</div>

In [18]:
display(Markdown(f"""
<div class="alert alert-success">
`(code_pays, annee)` est une clefs primaires ? \
{'**Oui**' if fct.isPrimaryKey(population, ['code_pays', 'annee']) else '**Non**'}
"""))

<div class="alert alert-success">
`(code_pays, annee)` est une clefs primaires ? **Oui**

### *dataframe* `dispo_alim` <a id="dispo_alim" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
Nous voulons créér le dataframe **dispo_alim** : <br>
`pays | code_pays | annee | produit | code_produit | nature | dispo_alim_tonnes | dispo_alim_kcal_p_j | dispo_prot | dispo_mat_gr`

#### création

On sélectionne les colonnes de `produits` qui nous intéresse

In [19]:
dispo_alim = produits[[ 'pays', 'code_pays', 'annee', 'produit','code_produit','nature',
          'dispo_alim_tonnes','dispo_alim_kcal_p_j','dispo_prot','dispo_mat_gr'
]]

On supprime les lignes qui n'ont que des éléments `null`

In [20]:
dispo_alim = dispo_alim.dropna(
    subset=['dispo_alim_tonnes', 'dispo_alim_kcal_p_j', 'dispo_prot', 'dispo_mat_gr'],
    how='all'
)

#### mise dans la base de donnée

In [21]:
%%time
dispo_alim.to_sql('dispo_alim', con=bdd_engine, if_exists='replace', chunksize=1000, index=False)
# si il y a trop de lignes d'un coup, la commande bug
# c'est pouquroi j'ai mis chunksize : elle sera appelée plusieurs fois sur des trançons de 1000 lignes

CPU times: user 4.09 s, sys: 42.9 ms, total: 4.14 s
Wall time: 4.3 s

on enregistre aussi la table en csv

In [22]:
dispo_alim.to_csv(f'{bdd_path}tables_csv/dispo_alim.csv', index=False)

<div class="panel panel-info">
  <div class="panel-heading" >
    **Question 16**
    <a id="question-16" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
  </div>
  <div class="panel-body">
   Proposez une clé primaire pertinente pour cette table.
  </div>
</div>

In [23]:
display(Markdown(f"""
<div class="alert alert-success">
`(code_pays, code_produit, annee)` est une clef primaire ? **{fct.isPrimaryKey(dispo_alim, ['code_pays', 'code_produit', 'annee'])}**
"""))

<div class="alert alert-success">
`(code_pays, code_produit, annee)` est une clef primaire ? **True**

### *dataframe* `equilibre_prod`  <a id="equilibre_prod" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
On veut créer le *dataframe* **equilibre_prod** : <br>
`pays | code_pays | annee | produit | code_produit | nature | dispo_int | alim_ani | semences | pertes | traitement | nourriture | autres_utilisations`

#### Création

on projette sur les colonnes que l'on veut

In [24]:
equilibre_prod = produits[['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'nature', 'dispo_int', 
                   'alim_ani', 'semences', 'pertes', 'traitement', 'nourriture', 'autres_utilisations']]

suppression des lignes avec des éléments `null`

In [25]:
equilibre_prod = equilibre_prod.dropna(
    subset=['dispo_int', 'alim_ani', 'semences', 'pertes', 'traitement', 'nourriture', 'autres_utilisations'],
    how='all'
)

#### mise dans la base de donnée

In [26]:
%%time
equilibre_prod.to_sql(name='equilibre_prod', con=bdd_engine, if_exists='replace', index=False, chunksize=1000)

CPU times: user 4.83 s, sys: 15.8 ms, total: 4.84 s
Wall time: 4.98 s

on enregistre aussi le dataframe en csv

In [27]:
equilibre_prod.to_csv(f'{bdd_path}tables_csv/equilibre_prod.csv', index=False)

<div class="panel panel-info">
  <div class="panel-heading" >
    **Question 17**
    <a id="question-17" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
  </div>
  <div class="panel-body">
     Proposez une clé primaire pertinente pour cette table.
  </div>
</div>

In [28]:
display(Markdown(f"""
<div class="alert alert-success">
*`code_produit, code_pays, annee`* est une clef primaire ?\
 **{fct.isPrimaryKey(equilibre_prod, ['code_produit', 'code_pays', 'annee'])}**
"""))

<div class="alert alert-success">
*`code_produit, code_pays, annee`* est une clef primaire ? **True**

### *dataframe* `sous_nutrition` <a id="sous_nutrition" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
On veut le *dataframe* **sous_nutrition** : <br> `pays | code_pays | annee | nb_personnes`

Celui-ci sera créé à partir d'un autre fichier csv, téléchargé depuis une rubrique différente de la **FAO**

#### création

In [29]:
sous_nutrition = pd.read_csv('datas_from_fao/sous_alim.csv')

on ne garde que les colonnes qui nous intéresse

In [30]:
sous_nutrition = sous_nutrition[['Zone', 'Code zone', 'Année', 'Valeur']]

on renomme les colonnes

In [31]:
sous_nutrition.rename(columns={
    'Zone': 'pays',
    'Code zone': 'code_pays',
    'Année': 'annee',
    'Valeur': 'nb_personnes'
}, inplace=True)

le nombre de personnes sous alimentées est exprimé en millions, on veut l'exprimer en unité

In [32]:
sous_nutrition['nb_personnes'] *= 1e6

on change l'expression des années, pour qu'elle corresponde aux autre dataframes :

In [33]:
sous_nutrition.replace('2011-2013', '2012', inplace=True)
sous_nutrition.replace('2012-2014', '2013',  inplace=True)

La **FAO** distingue les `zones` des `pays` (`pays` est un sous-ensemble de `zone`). <br>
On ne va garder que les `zones` qui correspondent aux `pays` de `produits`

In [34]:
sous_nutrition = sous_nutrition[ sous_nutrition.code_pays.isin(produits.code_pays.unique()) ]

on supprime les pays qui ont une valeur `null`

In [35]:
sous_nutrition.dropna(
    subset=['nb_personnes'],
    how='all',
    inplace=True
)

#### Mise dans la base de donnée

In [38]:
sous_nutrition.to_sql(name='sous_nutrition', con=bdd_engine, if_exists='replace', index=False)

In [39]:
sous_nutrition.to_csv(f'{bdd_path}tables_csv/sous_nutrition.csv', index=False)

<div class="panel panel-info">
  <div class="panel-heading" >
    **Question 18**
    <a id="question-18" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
  </div>
  <div class="panel-body">
     Vous vous en doutez... proposez encore une fois une clé primaire pertinente pour cette table !
  </div>
</div>

In [40]:
display(Markdown(f"""
<div class="alert alert-success">
`code_pays, annee` est une clefs primaire ? \
**{fct.isPrimaryKey(sous_nutrition, ['code_pays', 'annee'])}**
"""))

<div class="alert alert-success">
`code_pays, annee` est une clefs primaire ? **True**

### **extra** : *dataframe*  stock

On sait que : `Disponibilité intérieure  = Production + Importation - Exportation + evolution stock`

On peut faire une table **stock** : `pays | code_pays | annee | produit | code_produit | nature | dispo_int | production | importation | exportation | variation_stock`

#### Création

In [41]:
stock = produits[['pays', 'code_pays', 'annee', 'produit', 'code_produit', 'nature', 'dispo_int', 'production', 'importation', 'exportation', 'variation_stock']]

Suppression des valeurs `null`

In [42]:
stock = stock.dropna(
    subset=['dispo_int', 'production', 'importation', 'exportation', 'variation_stock'],
    how='all',
)

#### Mise dans la base de donnée

In [43]:
%%time
stock.to_sql(name='stock', con=bdd_engine, if_exists='replace', index=False, chunksize=1000)

CPU times: user 3.87 s, sys: 35.8 ms, total: 3.9 s
Wall time: 4.03 s

In [44]:
stock.to_csv(f'{bdd_path}tables_csv/stock.csv', index=False)

<hr style="height:3px; margin:30px">

## Vérification de la base de donnée

On vérifie que notre base de donnée à des valeurs pertinentes avec ce que l'on a trouvé précedemment

### table population

In [48]:
result = pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT SUM(population)
FROM population
WHERE annee=2013
""").iloc[0,0]

display(Markdown(f"""
Population mondiale égale a **6997326000**. <br>
*valeur trouvé avant* ? **{result == 6997326000}**
"""))

Population mondiale égale a **6997326000**. <br>
*valeur trouvé avant* ? **True**

In [49]:
result = pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT COUNT(*)
FROM population
WHERE annee=2013
""").iloc[0,0]

display(Markdown(f"""
Nombre de pays égal a **174**<br>
*valeur trouvé avant* ? **{result == 174}**
"""))

Nombre de pays égal a **174**<br>
*valeur trouvé avant* ? **True**

### table equilibre_prod

In [50]:
result = pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT AVG((dispo_int - somme) / dispo_int * 100) AS prct_erreur_monde
FROM(
SELECT
	annee, pays, produit,
	dispo_int,
    (alim_ani + semences + pertes + traitement + nourriture + autres_utilisations) AS somme
FROM equilibre_prod
WHERE somme IS NOT NULL
)
""").iloc[0,0]

display(Markdown(f"""

En théorie `Disponibilité intérieure ` = `Nourriture + Pertes + Semences + Autres utilisations + Aliments pour animaux + traitement`

Pourcentage d'erreur sur la base de donnée : **{result:.2f} %**
"""))

En théorie `Disponibilité intérieure ` = `Nourriture + Pertes + Semences + Autres utilisations + Aliments pour animaux + traitement`

Pourcentage d'erreur sur la base de donnée : **-0.67 %**

<hr style="height:3px; margin:30px;">

<div class="panel panel-info">
  <div class="panel-heading" >
    **Question 19**
    <a id="question-19" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
  </div>
  <div class="panel-body">
     Question 19 : Écrivez les requêtes SQL permettant de connaître…
  </div>
</div>

<div class="alert alert-info" role="alert">
Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.
</div>

In [57]:
pd.read_sql_query(con=bdd_engine,sql=f"""
SELECT 
    pays,
    sum(dispo_prot) AS dispo_prot_g_per_jour
FROM dispo_alim
WHERE annee=2013
GROUP BY pays
ORDER BY dispo_prot_g_per_jour DESC
LIMIT 10
""")

                       pays  dispo_prot_g_per_jour
0                   Islande                 133.06
1  Chine - RAS de Hong-Kong                 129.07
2                    Israël                 128.00
3                  Lituanie                 124.36
4                  Maldives                 122.32
5                  Finlande                 117.56
6                Luxembourg                 113.64
7                Monténégro                 111.90
8                  Pays-Bas                 111.46
9                   Albanie                 111.37

In [58]:
pd.read_sql_query(con=bdd_engine,sql=f"""
SELECT 
    pays,
    annee,
    sum(dispo_alim_kcal_p_j) as dispo_alim_kcal_p_jour
FROM dispo_alim
GROUP BY pays, annee
ORDER BY dispo_alim_kcal_p_jour DESC
LIMIT 10
""")

                    pays  annee  dispo_alim_kcal_p_jour
0               Autriche   2013                  3770.0
1               Belgique   2013                  3737.0
2               Autriche   2012                  3736.0
3               Belgique   2012                  3712.0
4                Turquie   2013                  3708.0
5                Turquie   2012                  3688.0
6  États-Unis d'Amérique   2012                  3685.0
7  États-Unis d'Amérique   2013                  3682.0
8                 Israël   2013                  3610.0
9                Irlande   2013                  3602.0

<div class="alert alert-info" role="alert">
Pour chaque année disponible, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant. Le nombre de lignes de la table renvoyée sera donc égal à 10 fois le nombre d'années disponibles.
</div>

In [59]:
NB_JOUR_ANNEE = 365

In [62]:
pd.read_sql_query(con=bdd_engine,sql=f"""
SELECT pays, annee, sum(dispo_prot) AS dispo_prot_g_per_jour
FROM dispo_alim
WHERE annee = 2012
GROUP BY pays
UNION
SELECT pays, annee, sum(dispo_prot) AS dispo_prot_g_per_jou 
FROM dispo_alim
WHERE annee = 2013
GROUP BY pays

ORDER BY dispo_prot_g_per_jou ASC
LIMIT 20
""")

                         pays  annee  dispo_prot_g_per_jour
0                     Libéria   2013                  37.66
1                     Libéria   2012                  38.07
2               Guinée-Bissau   2012                  43.80
3               Guinée-Bissau   2013                  44.05
4                  Mozambique   2013                  45.68
5   République centrafricaine   2013                  46.04
6                  Madagascar   2013                  46.69
7                  Mozambique   2012                  46.92
8                       Haïti   2012                  47.21
9                  Madagascar   2012                  47.25
10                      Haïti   2013                  47.70
11                   Zimbabwe   2013                  48.32
12                      Congo   2012                  49.49
13                   Zimbabwe   2012                  50.72
14                      Congo   2013                  51.41
15                    Ouganda   2013                  52.64
16  République centrafricaine   2012                  52.80
17       Sao Tomé-et-Principe   2012                  53.04
18       Sao Tomé-et-Principe   2013                  53.10
19                    Ouganda   2012                  53.69

<div class="alert alert-info" role="alert">
La quantité totale (en kg) de produits exportés par pays et par année. La table renvoyée contiendra donc une ligne par couple (pays, année).
</div>

In [63]:
pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT pays, annee, SUM(exportation)*1e6 AS exportation_kg
FROM stock
GROUP BY pays, annee
ORDER BY exportation_kg DESC
""")

                          pays  annee  exportation_kg
0        États-Unis d'Amérique   2012    1.663930e+11
1        États-Unis d'Amérique   2013    1.635240e+11
2                       Brésil   2013    1.265520e+11
3                       Brésil   2012    1.064920e+11
4                       France   2013    6.594500e+10
5                       France   2012    6.311900e+10
6                    Argentine   2012    5.940500e+10
7                    Allemagne   2013    5.743100e+10
8                    Allemagne   2012    5.481800e+10
9                       Canada   2013    5.477100e+10
10                      Canada   2012    5.234400e+10
11                   Argentine   2013    5.233300e+10
12                    Pays-Bas   2013    5.217900e+10
13                    Pays-Bas   2012    5.201000e+10
14                   Thaïlande   2013    5.043000e+10
15                   Australie   2012    4.841200e+10
16                   Thaïlande   2012    4.583500e+10
17                   Australie   2013    4.318400e+10
18                        Inde   2013    4.080700e+10
19                     Ukraine   2013    3.834600e+10
20                     Ukraine   2012    3.814300e+10
21         Chine, continentale   2013    3.606000e+10
22                        Inde   2012    3.540600e+10
23         Chine, continentale   2012    3.526500e+10
24                   Indonésie   2013    3.191200e+10
25                    Belgique   2012    3.108700e+10
26                    Belgique   2013    3.034500e+10
27        Fédération de Russie   2012    3.019900e+10
28                   Indonésie   2012    2.936500e+10
29                     Espagne   2012    2.934700e+10
..                         ...    ...             ...
318                      Congo   2012    1.300000e+07
319        Polynésie française   2012    1.200000e+07
320          Brunéi Darussalam   2013    1.100000e+07
321        Polynésie française   2013    1.000000e+07
322                    Bahamas   2012    7.000000e+06
323                    Bahamas   2013    7.000000e+06
324                      Congo   2013    6.000000e+06
325                  Dominique   2013    5.000000e+06
326         Nouvelle-Calédonie   2012    5.000000e+06
327         Nouvelle-Calédonie   2013    5.000000e+06
328       Sao Tomé-et-Principe   2013    5.000000e+06
329                    Grenade   2012    4.000000e+06
330       Sao Tomé-et-Principe   2012    4.000000e+06
331                    Grenade   2013    3.000000e+06
332          Brunéi Darussalam   2012    2.000000e+06
333       Chine - RAS de Macao   2012    2.000000e+06
334       Chine - RAS de Macao   2013    2.000000e+06
335                  Dominique   2012    2.000000e+06
336         Antigua-et-Barbuda   2012    1.000000e+06
337                   Bermudes   2012    1.000000e+06
338                      Gabon   2013    1.000000e+06
339  République centrafricaine   2012    1.000000e+06
340       Saint-Kitts-et-Nevis   2012    1.000000e+06
341       Saint-Kitts-et-Nevis   2013    1.000000e+06
342         Antigua-et-Barbuda   2013    0.000000e+00
343                      Gabon   2012    0.000000e+00
344                    Lesotho   2012    0.000000e+00
345  République centrafricaine   2013    0.000000e+00
346                      Tchad   2012    0.000000e+00
347                      Tchad   2013    0.000000e+00

[348 rows x 3 columns]

<div class="alert alert-info" role="alert">
Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.
</div>

In [67]:
pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT
    AVG(nb_personnes / population * 100) AS prop_p_ss_alim
FROM population
    NATURAL JOIN sous_nutrition
ORDER BY prop_p_ss_alim DESC
LIMIT 10
""")

                                         pays  prop_p_ss_alim
0                                       Haïti       50.265013
1                                      Zambie       48.939968
2                                    Zimbabwe       46.263078
3  République populaire démocratique de Corée       41.886800
4                   République centrafricaine       41.531497
5                                       Congo       40.985485
6                                      Angola       39.761423
7                                       Tchad       38.383519
8                                     Libéria       37.723726
9                                  Madagascar       34.480799

In [64]:
pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT
    pays,
    AVG(nb_personnes / population * 100) AS prop_p_ss_alim
FROM population
    NATURAL JOIN sous_nutrition
GROUP BY pays
ORDER BY prop_p_ss_alim DESC
LIMIT 10
""")

                                         pays  prop_p_ss_alim
0                                       Haïti       50.265013
1                                      Zambie       48.939968
2                                    Zimbabwe       46.263078
3  République populaire démocratique de Corée       41.886800
4                   République centrafricaine       41.531497
5                                       Congo       40.985485
6                                      Angola       39.761423
7                                       Tchad       38.383519
8                                     Libéria       37.723726
9                                  Madagascar       34.480799

<div class="alert alert-info" role="alert">
Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.
</div>

NOTE : ici je fais la moyenne des ratio des pays.
Il vaudrait mieux faire le ratio de la quantitié mondiale autre_util et dispo_int pour chaque produit

In [65]:
pd.read_sql_query(con=bdd_engine, sql=f"""
SELECT 
    produit,
    AVG(autres_utilisations / dispo_int) AS ratio_autres_utilisations_dispo_int
FROM equilibre_prod
GROUP BY produit
ORDER BY ratio_autres_utilisations_dispo_int DESC
LIMIT 10
""")

                   produit  ratio_autres_utilisations_dispo_int
0   Alcool, non Comestible                             0.982533
1       Plantes Aquatiques                             0.920989
2       Huile de Palmistes                             0.783691
3                  Piments                             0.750921
4           Huile de Palme                             0.652546
5  Huile de Colza&Moutarde                             0.619518
6                Palmistes                             0.590516
7            Huile de Coco                             0.550224
8  Huil Plantes Oleif Autr                             0.516265
9      Huile de Son de Riz                             0.498934

<hr style="height:1px">

<div class="panel panel-info">
  <div class="panel-heading" >
    **Question 20**
    <a id="question-20" href="#sommaire" class="btn-sm btn-default" >retour au sommaire</a>
  </div>
  <div class="panel-body">
    pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)
  </div>
</div>

##### Plantes aquatiques 
Probablement l'[Aquariophilie](https://fr.wikipedia.org/wiki/Aquariophilie). Quand on tappe sur Google, on ne tombe d'ailleurs que sur des sites d'aquarium / bassins

##### Huile de Palme

- En Europe, elle est en majorité utilisée dans les **bio-carburants** ([source - 1:12](https://www.lemonde.fr/planete/video/2017/04/05/quel-est-le-probleme-avec-l-huile-de-palme_5106199_3244.html))
- cosmétique, savons ([source](https://fr.wikipedia.org/wiki/Huile_de_palme#Ol%C3%A9ochimie))

-----

Sauf l'alcool et les plantes aquatiques, se sont des **huiles végétales**. Elles sont utilisé dans la fabriquation de bio-carburant et dans le domaine de cosmétique.